# 수치형 변수 변환하기


### 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

## Standardization (Z-score Normalization)

![standard](https://wikimedia.org/api/rest_v1/media/math/render/svg/b0aa2e7d203db1526c577192f2d9102b718eafd5)

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
df=pd.read_csv("/kaggle/input/bigdatacertificationkr/basic1.csv")
print(df.head(10))

     id   age city     f1  f2   f3    f4         f5
0  id01   2.0   서울    NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울   70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울   61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울    NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
5  id06  22.0   서울   57.0   0  vip  INTP  20.129444
6  id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
7  id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
8  id09   3.3   서울   35.0   2  NaN  ESFJ  17.252986
9  id10  95.0   서울   74.0   1  NaN  ISFP  98.429899

In [2]:
# 표준화
x_bar=df['f5'].mean()
sigma=df['f5'].std()
print(x_bar)
print(sigma)

56.73453674492999
28.454243730610507

In [3]:
# 표준화
df['f5']=(df['f5']-x_bar)/sigma
print(df.head(10))

# 이렇게 표준화해도 된다. 이게 더 정확
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['f5']=scaler.fit_transform(df[['f5']])
df.head()

     id   age city     f1  f2   f3    f4        f5
0  id01   2.0   서울    NaN   0  NaN  ENFJ  1.214696
1  id02   9.0   서울   70.0   1  NaN  ENFJ  0.126705
2  id03  27.0   서울   61.0   1  NaN  ISTJ -1.387545
3  id04  75.0   서울    NaN   2  NaN  INFP -0.142947
4  id05  24.0   서울   85.0   2  NaN  ISFJ -0.965222
5  id06  22.0   서울   57.0   0  vip  INTP -1.286455
6  id07  36.3   서울   60.0   1  NaN  ISFJ -1.649601
7  id08  38.0   서울  101.0   1  NaN  INFJ  0.947164
8  id09   3.3   서울   35.0   2  NaN  ESFJ -1.387545
9  id10  95.0   서울   74.0   1  NaN  ISFP  1.465348

     id   age city    f1  f2   f3    f4        f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  1.220815
1  id02   9.0   서울  70.0   1  NaN  ENFJ  0.127343
2  id03  27.0   서울  61.0   1  NaN  ISTJ -1.394535
3  id04  75.0   서울   NaN   2  NaN  INFP -0.143667
4  id05  24.0   서울  85.0   2  NaN  ISFJ -0.970085

In [4]:
# 중앙값 출력
print(df['f5'].median())

0.26061962955901463

## Hint
- https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
- https://en.wikipedia.org/wiki/Feature_scaling

In [5]:
from sklearn.preprocessing import StandardScaler
data = [[0, 2], [0.4, 0.2], [1.1, 10], [11, 19], [34, 21], [6, 40]]
scaler = StandardScaler()
print(scaler.fit(data))
print(scaler.transform(data))

StandardScaler()
[[-0.73299648 -0.99206078]
 [-0.69948807 -1.125655  ]
 [-0.64084835 -0.39830869]
 [ 0.18848481  0.26966241]
 [ 2.11521842  0.41810043]
 [-0.23037032  1.82826164]]

## 풀이

In [6]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [7]:
# 표준화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['f5']=scaler.fit_transform(df[['f5']])
df.head()

     id   age city    f1  f2   f3    f4        f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  1.220815
1  id02   9.0   서울  70.0   1  NaN  ENFJ  0.127343
2  id03  27.0   서울  61.0   1  NaN  ISTJ -1.394535
3  id04  75.0   서울   NaN   2  NaN  INFP -0.143667
4  id05  24.0   서울  85.0   2  NaN  ISFJ -0.970085

In [8]:
# 중앙값 출력
print(df['f5'].median())

0.260619629559015