## 조건에 맞는 데이터 표준편차 구하기
- 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
df=pd.read_csv('/kaggle/input/bigdatacertificationkr/basic1.csv')
print(df.head(10))

     id   age city     f1  f2   f3    f4         f5
0  id01   2.0   서울    NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울   70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울   61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울    NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
5  id06  22.0   서울   57.0   0  vip  INTP  20.129444
6  id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
7  id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
8  id09   3.3   서울   35.0   2  NaN  ESFJ  17.252986
9  id10  95.0   서울   74.0   1  NaN  ISFP  98.429899

In [2]:
# 조건에 맞는 데이터 (ENFJ, INFP)
ENFJ_cols=df['f4']=='ENFJ'
INFP_cols=df['f4']=='INFP'
print(f'ENFJ:{ENFJ_cols}')
print('-----------')
print(f'INFP:{INFP_cols}')

ENFJ:0      True
1      True
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: f4, Length: 100, dtype: bool
-----------
INFP:0     False
1     False
2     False
3      True
4     False
      ...
95    False
96     True
97     True
98    False
99    False
Name: f4, Length: 100, dtype: bool

In [3]:
# 조건에 맞는 f1의 표준편차 (ENFJ, INFP)
enfj_std=df[ENFJ_cols]['f1'].std()
infp_std=df[INFP_cols]['f1'].std()
print(f'enfj_std:{enfj_std}')
print(f'infp_std:{infp_std}')

# grouupby로 구할수도 있다
# all_std = df.groupby('f4')['f1'].std()
# print("모든 성격유형의 f1 표준편차:")
# print(all_std)

# # 원하는 것만 추출
# enfj_std = all_std['ENFJ']
# infp_std = all_std['INFP']

enfj_std:17.727097901235837
infp_std:23.586719427112648

In [4]:
# 두 표준편차 차이 절대값 출력
print(abs(enfj_std-infp_std))

5.859621525876811

## Hint
- 절대 값 : np.abs()
- 표준편차 : DataFrame.std()

## 풀이

In [5]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [6]:
# 조건에 맞는 데이터
df[df['f4']=='ENFJ']

      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
32  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
40  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
44  id45  97.0   대구  88.0   0  NaN  ENFJ  13.049921
53  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313

In [7]:
df[df['f4']=='ENFJ']['f1'].std()

17.727097901235837

In [8]:
# 조건에 맞는 f1의 표준편차
enfj = df[df['f4']=='ENFJ']['f1'].std()
enfj

17.727097901235837

In [9]:
# 조건에 맞는 f1의 표준편차
infp = df[df['f4']=='INFP']['f1'].std()
infp

23.586719427112648

In [10]:
# 두 표준편차 차이 절대값 출력
print(np.abs(enfj - infp))

5.859621525876811