## 결측치 제거 및 그룹 합계에서 조건에 맞는 값 찾아 출력
- 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
df=pd.read_csv('/kaggle/input/bigdatacertificationkr/basic1.csv')
print(df.head(10))

     id   age city     f1  f2   f3    f4         f5
0  id01   2.0   서울    NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울   70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울   61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울    NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
5  id06  22.0   서울   57.0   0  vip  INTP  20.129444
6  id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
7  id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
8  id09   3.3   서울   35.0   2  NaN  ESFJ  17.252986
9  id10  95.0   서울   74.0   1  NaN  ISFP  98.429899

In [2]:
# f1컬럼 결측치 제거
no_vals=df['f1'].isnull()
df=df[~no_vals]
print(df.head(10))

# 아래와 같은 방법으로 제거해도 된다.
# df = df.dropna(subset=['f1'])
# print(df.head(10))

      id   age city     f1  f2   f3    f4         f5
1   id02   9.0   서울   70.0   1  NaN  ENFJ  60.339826
2   id03  27.0   서울   61.0   1  NaN  ISTJ  17.252986
4   id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
5   id06  22.0   서울   57.0   0  vip  INTP  20.129444
6   id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
7   id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
8   id09   3.3   서울   35.0   2  NaN  ESFJ  17.252986
9   id10  95.0   서울   74.0   1  NaN  ISFP  98.429899
10  id11  40.0   서울   68.0   0  NaN  ENFP  98.429899
12  id13  15.0   서울   68.0   0  NaN  ESFJ  83.685380

In [3]:
# 그룹 합계 계산
result = df.groupby(['city', 'f2'])['f1'].sum()
print(result)

city  f2
경기    0     833.0
      1     670.0
      2     311.0
대구    0     527.0
      1     235.0
      2     211.0
부산    0     389.0
      1     315.0
      2      47.0
서울    0     278.0
      1     534.0
      2     207.0
Name: f1, dtype: float64

In [4]:
# 조건에 맞는 값 출력
final_result = result[('경기', 0)]  # (city, f2) 튜플로 접근
print(final_result)

833.0

## Hint
- 그룹 합계

In [5]:
import pandas as pd
df = pd.DataFrame({'User': ['네모', '네모',
                              '세모', '세모'],
                   'Max Speed': [120., 240., 57., 41.]})
df

  User  Max Speed
0   네모      120.0
1   네모      240.0
2   세모       57.0
3   세모       41.0

In [6]:
df.groupby(['User']).mean()

      Max Speed
User
네모        180.0
세모         49.0

## 풀이

In [7]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [8]:
# f1컬럼 결측치 제거
df = df.dropna(subset=['f1'])

In [9]:
# 그룹 합계 계산
df2 = df.groupby(['city','f2']).sum()
df2

           age     f1          f5
city f2
경기   0   720.4  833.0  943.944823
     1   696.0  670.0  657.241212
     2   239.0  311.0  362.300060
대구   0   387.0  527.0  183.199568
     1   217.6  235.0  241.333824
     2   140.0  211.0   79.667919
부산   0   331.0  389.0  284.371097
     1   188.7  315.0  299.270973
     2   -13.5   47.0   67.886373
서울   0   145.0  278.0  218.528577
     1   315.3  534.0  438.485010
     2    68.3  207.0  126.661135

In [10]:
# 조건에 맞는 값 출력
print(df2.iloc[0]['f1'])

833.0