## 결측치 처리
-  주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
- 데이터셋 : basic1.csv 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- 강의 영상 : https://youtu.be/WqlpqBRn7x4

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
df=pd.read_csv("/kaggle/input/bigdatacertificationkr/basic1.csv")
print(df.head(10))

     id   age city     f1  f2   f3    f4         f5
0  id01   2.0   서울    NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울   70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울   61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울    NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
5  id06  22.0   서울   57.0   0  vip  INTP  20.129444
6  id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
7  id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
8  id09   3.3   서울   35.0   2  NaN  ESFJ  17.252986
9  id10  95.0   서울   74.0   1  NaN  ISFP  98.429899

In [2]:
# EDA - 결측값 확인(비율 확인)
print(df.info())

# 100개의 데이터가 있을때 결측치가 80퍼 이상 되려면, 20개 미만의 데이터가 있는 컬럼을 삭제 해야한다. 
# 삭제 해야하는 컬럼 ->f3 (이것도 수학적으로 해야하낭..)
# 중앙값 대체 컬럼 ->f1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB
None

In [3]:
# 80%이상 결측치 컬럼, 삭제
df.drop('f3',axis=1,inplace=True)
print(df.head(10))

     id   age city     f1  f2    f4         f5
0  id01   2.0   서울    NaN   0  ENFJ  91.297791
1  id02   9.0   서울   70.0   1  ENFJ  60.339826
2  id03  27.0   서울   61.0   1  ISTJ  17.252986
3  id04  75.0   서울    NaN   2  INFP  52.667078
4  id05  24.0   서울   85.0   2  ISFJ  29.269869
5  id06  22.0   서울   57.0   0  INTP  20.129444
6  id07  36.3   서울   60.0   1  ISFJ   9.796378
7  id08  38.0   서울  101.0   1  INFJ  83.685380
8  id09   3.3   서울   35.0   2  ESFJ  17.252986
9  id10  95.0   서울   74.0   1  ISFP  98.429899

In [4]:
# 80%미만 결측치 컬럼, city별 중앙값으로 대체
df['f1'] = df['f1'].fillna(df.groupby('city')['f1'].transform('median'))
print(df.head(20))
print('------------')
print(df.info())

# transform말고 map함수를 적용할 수도 있다.
city_medians = df.groupby('city')['f1'].median()
df['f1'] = df['f1'].fillna(df['city'].map(city_medians))

      id   age city     f1  f2    f4         f5
0   id01   2.0   서울   68.0   0  ENFJ  91.297791
1   id02   9.0   서울   70.0   1  ENFJ  60.339826
2   id03  27.0   서울   61.0   1  ISTJ  17.252986
3   id04  75.0   서울   68.0   2  INFP  52.667078
4   id05  24.0   서울   85.0   2  ISFJ  29.269869
5   id06  22.0   서울   57.0   0  INTP  20.129444
6   id07  36.3   서울   60.0   1  ISFJ   9.796378
7   id08  38.0   서울  101.0   1  INFJ  83.685380
8   id09   3.3   서울   35.0   2  ESFJ  17.252986
9   id10  95.0   서울   74.0   1  ISFP  98.429899
10  id11  40.0   서울   68.0   0  ENFP  98.429899
11  id12  20.0   서울   68.0   0  ESTP  91.297791
12  id13  15.0   서울   68.0   0  ESFJ  83.685380
13  id14  77.0   서울   50.0   1  ENTJ  67.886373
14  id15  22.0   서울   67.0   1  ENTP   9.796378
15  id16  68.0   서울   85.0   0  ESFP  16.283854
16  id17  74.0   서울   68.0   1  ISTP  67.886373
17  id18  41.0   서울   87.0   2  ISFJ  80.138280
18  id19  53.0   서울   68.0   0  ISFP  83.685380
19  id20  11.0   서울   51.0   1  INTJ  91.297791
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      100 non-null    float64
 4   f2      100 non-null    int64
 5   f4      100 non-null    object
 6   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 5.6+ KB
None

In [5]:
# f1 평균값 결과 출력
print(df['f1'].mean())

65.52

## Hint
- city별 중앙값으로 대체에서는 map함수 활용

## 풀이

In [6]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [7]:
# EDA - 결측값 확인
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [8]:
# 데이터 shape
df.shape

(100, 8)

In [9]:
# EDA - 결측비율 확인
df.isnull().sum()/df.shape[0]

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [10]:
# f3 컬럼 삭제
print("삭제 전:", df.shape)
df = df.drop(['f3'], axis=1)
print("삭제 후:", df.shape)

# 결측치가 있는 컬럼을 제거하는 2가지 방법
# df.drop(['B', 'C'], axis=1)
# df.drop(columns=['B', 'C'])

삭제 전: (100, 8)
삭제 후: (100, 7)

In [11]:
# 도시 확인
df['city'].unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [12]:
# 도시별 중앙값 계산
s=df[df['city']=='서울']['f1'].median()
k=df[df['city']=='경기']['f1'].median()
b=df[df['city']=='부산']['f1'].median()
d=df[df['city']=='대구']['f1'].median()
s, k, b, d

#방법2
# k, d, b, s = df.groupby('city')['f1'].median()

(68.0, 58.0, 62.0, 75.0)

In [13]:
# 대체 전 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울   NaN   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산   NaN   1  ISFP  29.269869

In [14]:
# f1결측치 city별 중앙값으로 대체
df['f1'] = df['f1'].fillna(df['city'].map({'서울':s,'경기':k,'부산':b,'대구':d}))

# 만약 그냥 f1 중앙값으로 대체 한다면 
# df['f1'] = df['f1'].fillna(df['f1'].median())

In [15]:
# 대체 후 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울  68.0   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산  62.0   1  ISFP  29.269869

In [16]:
#결과 출력
print(df['f1'].mean())

65.52