## f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오 
### - 결측치는 'f1' 데이터에서 큰 값 순으로 정렬했을 때 10번째에 위치한 값으로 채운다.
### - 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
### - 최종 결과값은 절대값으로 출력
(중복 제거 기준: 제공된 데이터 순서대로 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함)


- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
# 데이터 불러오기 
import pandas as pd
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
print(df.head(10))
print('-----------------')
print(df.info())

     id   age city     f1  f2   f3    f4         f5
0  id01   2.0   서울    NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울   70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울   61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울    NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
5  id06  22.0   서울   57.0   0  vip  INTP  20.129444
6  id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
7  id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
8  id09   3.3   서울   35.0   2  NaN  ESFJ  17.252986
9  id10  95.0   서울   74.0   1  NaN  ISFP  98.429899
-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB
None

In [2]:
# f1의 결측치를 채우자
df2=df.sort_values(['f1'],ascending=False)

# 인덱스는 새로 만들자
df2=df2.reset_index(drop=True)
print(df2.head(10))

fill_value=df2.iloc[9]['f1']
print(fill_value)

df['f1']=df['f1'].fillna(fill_value)
print(df.head(20))

     id   age city     f1  f2   f3    f4         f5
0  id57   3.0   대구  111.0   0  NaN  ISFJ  29.269869
1  id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
2  id58   0.0   대구  100.0   2  NaN  ESTP  33.308999
3  id74  45.0   경기   98.0   0  NaN  ESTP  52.667078
4  id72   8.0   경기   97.0   0  NaN  ESTJ  97.381034
5  id70  -9.0   경기   96.0   1  NaN  ISTP  48.431184
6  id78  92.0   경기   96.0   1  NaN  INTJ  69.730313
7  id33  47.0   부산   94.0   0  NaN  ENFJ  17.252986
8  id49  75.0   대구   88.0   0  NaN  INTP  37.113739
9  id45  97.0   대구   88.0   0  NaN  ENFJ  13.049921
88.0
      id   age city     f1  f2   f3    f4         f5
0   id01   2.0   서울   88.0   0  NaN  ENFJ  91.297791
1   id02   9.0   서울   70.0   1  NaN  ENFJ  60.339826
2   id03  27.0   서울   61.0   1  NaN  ISTJ  17.252986
3   id04  75.0   서울   88.0   2  NaN  INFP  52.667078
4   id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
5   id06  22.0   서울   57.0   0  vip  INTP  20.129444
6   id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
7   id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
8   id09   3.3   서울   35.0   2  NaN  ESFJ  17.252986
9   id10  95.0   서울   74.0   1  NaN  ISFP  98.429899
10  id11  40.0   서울   68.0   0  NaN  ENFP  98.429899
11  id12  20.0   서울   88.0   0  NaN  ESTP  91.297791
12  id13  15.0   서울   68.0   0  NaN  ESFJ  83.685380
13  id14  77.0   서울   50.0   1  NaN  ENTJ  67.886373
14  id15  22.0   서울   67.0   1  NaN  ENTP   9.796378
15  id16  68.0   서울   85.0   0  NaN  ESFP  16.283854
16  id17  74.0   서울   88.0   1  NaN  ISTP  67.886373
17  id18  41.0   서울   87.0   2  NaN  ISFJ  80.138280
18  id19  53.0   서울   88.0   0  NaN  ISFP  83.685380
19  id20  11.0   서울   51.0   1  NaN  INTJ  91.297791

In [3]:
# age 컬럼의 중복을 제거하기 전, f1 중앙값
before=df['f1'].median()
print(before)

77.5

In [4]:
# age 컬럼의 중복을 제거해보자
age_seen = set()
for i in df.index:
    if df.loc[i,'age'] in age_seen:
        df.drop(i,axis=0,inplace=True)
    else:
        age_seen.add(df.loc[i, 'age'])
print(df.head(20))

# 이렇게 해도 된다.
# age 컬럼의 첫 번째 값만 유지하고 중복 제거
# df_no_dup = df.drop_duplicates(subset=['age'], keep='first')
# print(df_no_dup.head(20))

      id   age city     f1  f2   f3    f4         f5
0   id01   2.0   서울   88.0   0  NaN  ENFJ  91.297791
1   id02   9.0   서울   70.0   1  NaN  ENFJ  60.339826
2   id03  27.0   서울   61.0   1  NaN  ISTJ  17.252986
3   id04  75.0   서울   88.0   2  NaN  INFP  52.667078
4   id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
5   id06  22.0   서울   57.0   0  vip  INTP  20.129444
6   id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
7   id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
8   id09   3.3   서울   35.0   2  NaN  ESFJ  17.252986
9   id10  95.0   서울   74.0   1  NaN  ISFP  98.429899
10  id11  40.0   서울   68.0   0  NaN  ENFP  98.429899
11  id12  20.0   서울   88.0   0  NaN  ESTP  91.297791
12  id13  15.0   서울   68.0   0  NaN  ESFJ  83.685380
13  id14  77.0   서울   50.0   1  NaN  ENTJ  67.886373
15  id16  68.0   서울   85.0   0  NaN  ESFP  16.283854
16  id17  74.0   서울   88.0   1  NaN  ISTP  67.886373
17  id18  41.0   서울   87.0   2  NaN  ISFJ  80.138280
18  id19  53.0   서울   88.0   0  NaN  ISFP  83.685380
19  id20  11.0   서울   51.0   1  NaN  INTJ  91.297791
20  id21  90.0   부산   88.0   1  NaN  ISFP  29.269869

In [5]:
# 이후, f1의 중앙값 구하자
after=df['f1'].median()
print(after)

77.0

In [6]:
# 최종 결과값
result=abs(before-after)
print(result)

0.5